html,body,.main-container{
    width: 99%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main-wrapper{
    display: grid;
    @media (width <= 20em) {
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }  
    @media(width >= 40em){
      grid-template-columns: 1.2fr 1.2fr 1.2fr 1fr;
    }  
  }

  .main-wrapper-jr{
    display: grid;
    @media (width <= 20em) {
      grid-template-rows: 1fr 1fr;
    }  
    @media(width >= 40em){
      grid-template-columns: 1.2fr 1.2fr 1.2fr 1fr;
    }  
  }
  
  .main-wrapper-pe{
    display: grid;
    @media (width <= 20em) {
      grid-template-rows: 1fr 1fr 1fr;
    }  
    @media(width >= 40em){
      grid-template-columns: 1.2fr 1.2fr 1.2fr;
    }
  }

  .main-wrapper-sum{
    display: grid;
    @media (width <= 20em) {
      grid-template-rows: 2fr 1fr;
    }  
    @media(width >= 40em){
      grid-template-columns: 3.6fr 1fr;
  }
}
  
  .cont-wrapper{
    display:grid;
    @media (width <= 20em) {
      grid-template-rows: 1fr 1fr;
    }
    @media (width >= 40em) {
      grid-template-columns: 1fr 2fr;
    }  
    padding: 0.5rem;
  }
  
  button{
    height: 2rem;
    font-size: medium;
    border-radius: 0.25rem;
    border: 1px solid darkgreen;
    background-color: darkgreen;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  ul{
    padding-top: 1.5rem;
  }
  
  .list{
    padding-top: 1rem;
  }
  
  .inner-list{
    padding-top: 0.5rem;
  }
  
  .detail{
    padding-top: 0.5rem;
  }
  
  .responsibility-add-wrapper{
    display: flex;  
    @media (width <= 20em) {
      flex-direction: column;
    }
    @media (width >= 40em) {
      flex-direction: row;
    }
    gap: 1.4rem;
  }
  
  input{
    border-radius: 0.25rem;
    border: 1px solid darkgreen;
    font-size: medium;
  }
  
  .input-edit-details{
    width: 23rem;
    height: 1.5rem;
  }
  
  .lbl{
    display: inline-block;
    width: 11rem;
  }
  
  h1, h2, h3, h4, h5{
    color: darkblue;
  }
  
  li, label, input {
    color: darkblue;
  }
  
  .error-msg{
    color: red;
  }
  
  label{
    font-size: medium;
  }

  h1, h2, h3, h4, h5{
    color: darkblue;
  }

  .cv-container{
    border: 1px solid darkgreen;
    width: 40rem;
    margin-top: 3rem;
    padding: 3rem;
  }

  textarea{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.25rem;
    border: 1px solid darkgreen;
    color: darkblue;
  }