.section-wrapper{
    padding-top: 1rem;
  }
  
  .edu-info,.prac-info, .general-info{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  
  .general-info{
    font-weight: bold;
  }
  
  .cv-container{
    border: 1px solid darkgreen;
    width: 40rem;
    margin-top: 3rem;
    padding: 3rem;
  }
  
  .resp{
    font-weight: 600;
  }

  hr{
    color: darkgreen;
  }

  .cv-intro{
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .set{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cadi-name,.job-role{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .summery{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }