html,body,.main-container{
  width: 99%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: left; */
  font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper{
  display: grid;
  @media (width <= 20em) {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }  
  @media(width >= 40em){
    grid-template-columns: 1.2fr 1.2fr 1.2fr 1fr;
  }  
}

.main-wrapper-pe{
  display: grid;
  @media (width <= 20em) {
    grid-template-rows: 1fr 1fr 1fr;
  }  
  @media(width >= 40em){
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
  }
}

.cont-wrapper{
  display:grid;
  @media (width <= 20em) {
    grid-template-rows: 1fr 1fr;
  }
  @media (width >= 40em) {
    grid-template-columns: 1fr 2fr;
  }  
  padding: 0.5rem;
}

button{
  width: 6rem;
  height: 2rem;
  font-size: medium;
}

ul{
  padding-top: 1.5rem;
}

.list{
  padding-top: 1rem;
}

.inner-list{
  padding-top: 0.5rem;
}

.detail{
  padding-top: 0.5rem;
}

.responsibility-add-wrapper{
  display: flex;  
  @media (width <= 20em) {
    flex-direction: column;
  }
  @media (width >= 40em) {
    flex-direction: row;
  }
  gap: 1rem;
}

.input-main-responsibilities{
  width: 23rem;
}